<h4>Products:</h4>

<table *ngIf="products.length > 0" class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Actions</th>
            <th scope="col">ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products, let i = index">
            <td>{{ products[i].name }}</td>
            <td>{{ products[i].brand }}</td>
            <td> <a class="delete" (click)="delete(products[i]._id)">Delete</a> </td>
            <td>{{ products[i]._id }}</td>
        </tr>
    </tbody>
</table>
<!-- <div *ngIf="products.length > 0">Print</div> -->
<div *ngIf="products.length === 0" class="alert alert-info" role="info">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Information:</span>
    The product collection is empty.
</div>